*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    border: 1px solid #000;
    grid-template: 80px 40px 4fr 40px/1fr 2fr 1fr;
    gap: 5px;
}
.caixa{
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
}
#topo{
    grid-area: 1/1/2/4;
}
#menu{
    grid-area: 2/1/3/4;
}
#principal{
    grid-area: 3/1/4/3;
}
#secundario{
    grid-area: 3/3/4/4;
}
#rodape{
    grid-area: 4/1/5/4;
}