body {
    background-color: aquamarine;
    margin: 30px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    margin: 10px;
}

p {
    font-size: 14px;
}