.container{
    border: 1px solid #000;
    height: 420px;
    display: grid;
    grid-template: repeat(4, 100px), repeat(9, 1fr);
    gap: 5px;
}
.caixa1{
    border: 1px solid #000;
    background-color: salmon;
    grid-row: 1/5; /* ocupa da linha 1 até a linha 5 */
    grid-column: 1/1; /* ocupa da coluna 1 até a coluna 2 */
}
.caixa2{
    border: 1px solid #000;
    background-color: lightpink;
    grid-row: 1/3; /* ocupa da linha 1 até a linha 3 */
    grid-column:2/5; /* ocupa da coluna 2 até a coluna 5 */
}
.caixa3{
    border: 1px solid #000;
    background-color: lightpink;
    grid-row: 3/5; /* ocupa da linha 3 até a linha 5 */
    grid-column: 2/5; /* ocupa da coluna 2 até a coluna 5 */
}
.caixa4{
    border: 1px solid #000;
    background-color: aquamarine;
    grid-row: 1/5; /* ocupa da linha 1 até a linha 5 */
    grid-column: 5/7; /* ocupa da coluna 5 até a coluna 7 */
}
.caixa5{
    border: 1px solid #000;
    background-color: cornflowerblue;
    grid-row: 1/2; /* ocupa da linha 1 até a linha 2 */
    grid-column: 7/9; /* ocupa da coluna 7 até a coluna 9 */
}
.caixa6{
    border: 1px solid #000;
    background-color: cornflowerblue;
    grid-row: 2/3; /* ocupa da linha 2 até a linha 3 */
    grid-column: 7/9; /* ocupa da coluna 7 até a coluna 9 */
}
.caixa7{
    border: 1px solid #000;
    background-color: cornflowerblue;
    grid-row: 3/4; /* ocupa da linha 3 até a linha 4 */
    grid-column: 7/9; /* ocupa da coluna 7 até a coluna 9 */
}
.caixa8{
    border: 1px solid #000;
    background-color: cornflowerblue;
    grid-row: 4/5; /* ocupa da linha 4 até a linha 5 */
    grid-column: 7/9; /* ocupa da coluna 7 até a coluna 9 */
}