@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center fixed;
    background-size: cover;
}

main{
    height: 100vh;
    position: relative;
}

/* top left e translate pra centralizar a imagem */
#telefone{
    position: absolute;
    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* posicionamento do iframe */
iframe#tela{
    position: relative;
    top: 81px;
    left: 23px;
    height: 468px;
    width: 264px;
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
    transform: scale(1.1); /* aumenta o tamanho em escala 1 = 100% */
    transition: all 0.3s ease-in-out;  /* transição suave de aumentar */
}

section>a>img{
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.233);
    margin: 10px;
    width: 50px;
    height: 50px;
}

