body{
    background-image: url(imagens/espaco.jpg);
    background-size: cover;
    background-attachment: fixed;
}

img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}