@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte-padrão: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-titulo: 'Passion One', cursive;
    --fonte-texto: 'Sriracha', cursive;
}

*{ /* confirações gerais do css */
    margin: 0;
    padding: 0;
}

html, body{ /* configuração geral do html e body */
    font-family: var(--fonte-padrão);
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

header>h1{
    font-family: var(--fonte-titulo);
    font-size: 8.5vw;
    padding-top: 50px;
    font-weight: bolder;
    font-variant: small-caps;  /* letras maiúsculas, mas a primeira maior que as outras */
    /* text-transform: uppercase;  tudo maiúsculo*/

}

header>p{
    padding-bottom: 50px;
}

header a, footer a{ /* configuração dos links no header e no footer */
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{ /* configuração dos links no header e no footer quando o mouse passa por cima */
    text-decoration: underline;
}

section{ /* configuração geral das sections */
    font-family: var(--fonte-texto);
    font-size: 3.2vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /* espaçamento das linhas */
    padding-left: 30px;
}

section>p{
    padding-bottom: 2em;
}

section.normal{ /* seção normal */
    background-color: white;
    color: black;
}

section.imagem{ /* seção com as imagens */
    background-color: #333333;
    color: white;
    box-shadow: inset 6px 6px 13px 0 #0000005d;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem>p{ /* configuração do texto na seção com imagem */
    background-color: #00000041;
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px #00000067;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: center center;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}