.container{
    display: grid;
    border: 2px solid #000;
    grid-template: repeat(3, 100px) / repeat(4, 1fr); /* fr é fração */
    gap: 5px;
}
.caixa1{
    background-color: salmon;
    grid-row: 1/1;
    grid-column: 1/5;
}
.caixa2{
    background-color: lightpink;
    grid-row: 2/5;
    grid-column: 1/3;
}
.caixa3{
    background-color: aquamarine;
    grid-row: 2/5;
    grid-column: 3/5;
}