@charset "utf-8";
@font-face {
    font-family: iDroid;
    src: url(fontes/idroid.otf);
}

@font-face {
    font-family: Zector;
    src: url(fontes/zector/Zector.ttf);
}

body{
    background-color: rgb(191, 255, 234);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(#76f5c4, #033b03);
    position: relative;
    margin: -10PX;
    padding: 10px;
    color: #fff;
    text-align: center;
}

nav{
    text-align: left;
}

nav>a{
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
}

nav>a:hover{
    color: #b5ffae;
    text-decoration: underline;
}

header>h1{
    font-family: Zector;
    font-size: 25px;
    text-shadow: #000000b0 1px 1px 1px ;
    font-weight: bolder;
}

header>p {
    font-size: 12px;
}

main {
    background-color: #fff;
    text-align: justify;
    padding: 20px;
    display: block;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    box-shadow: #00000079 3px 3px 7px;
}

.primeiro{
    font-family: iDroid, sans-serif;
    color: #236623;
    background-color: transparent;

}

.segundo {
    font-family: iDroid, sans-serif;
    color: rgb(35, 102, 35);
    background-color: rgba(104, 189, 161, 0.466);
}

.link{
    color: #236623;
    text-decoration: none;
    font-weight: bold;
}

.link:hover{ /* hover é quando passar o mouse em cima, active para quando clika, bom para botões */
    color: #429e3a;
    text-decoration: underline;
}

iframe { /* link embed do youtube, vem pronto como um frame */
    display: block;
    margin: auto;
    padding: 0px 0px 20px 0px;
}

aside>h3 {
    background-color: #236623;
    color: #fff;
    font-weight: lighter;
    border-radius: 10px 10px 0px 0px;
    margin:-5px;
    padding: 8px;
}


aside {
    background-color: rgb(151, 212, 193);
    padding: 5px;
    border-radius: 10px;
    width: 90%;
    margin: auto;
}

.colunas {
flex-direction: column; /* Define a direção do layout como coluna */
column-count: 2; /* Define o número de colunas */
}

picture {
    display: block;
    margin: auto;
    padding: 0px 0px 20px 0px;
}

img {
    display: block; /* transforma em um box-level */
    margin: auto; /* usado para centralizar boxes */
}


footer {
    width: 100%;
    font-size: small;
    color: #fff;
    padding: 10px;
    margin: -10px;
    text-align: center;
    background-color: rgb(35, 102, 35);
}

.github {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.github:hover {
    color: #b5ffae;
    text-decoration: underline;
}

footer>p{
    margin: 0px;
    padding: 0px;
}