@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}
header{
    background-color: grey;
    color: white;
    padding: 10px;
    display: flex; /* flex no header para controlar os dois items */
    flex-flow: row wrap; /* sentido do flex em linha com quebra de linha */
    justify-content: space-between; /* espaçamento entre os itens no espaço disponível */
    align-items: center; /* alinhar os itens verticalmente ao centro */
}
header h1{
    /* border: 1px dotted black; */
    text-shadow: 2px 2px 0px #00000050;
    flex: 0 0 200px;
}
header nav{
    /* border: 1px dotted black; */
    display: flex; /* transformar os itens do menu em itens flexíveis */
     flex-flow: row wrap; /* sentido do flex em linha com quebra de linha */
    justify-content: flex-end; /* alinhar os itens à esquerda */
}
header>nav>a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    text-align: center;
}
header>nav>a:hover{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 5px #0000004d;
    transition: background-color 0.3s, color 0.3s;
}
main{
    margin: 10px auto;
    padding: 10px;
    width: 90vw;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    text-indent: 20px;
    text-align: justify;
}
main h1{
    text-align: center;
    margin-bottom: 10px;
}